PORT=5001
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=changeme
DB_NAME=blog_platform_test
JWT_SECRET=nboEpWygMpJnp9N7-mM3cjyteIHYDzTbnkBmBK0lZbzIChs3-nhoyIZSuZNPVC9P
JWT_EXPIRES_IN=1h
CORS_ORIGIN=http://localhost:3000
UPLOAD_DIR=./test-uploads
